@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Factory</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Font Awesome Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="~/Content/Theme/css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="~/Content/Theme/css/skins/skin-green.css" rel="stylesheet" type="text/css" />

</head>
<body class="skin-green fixed">

    <header class="main-header">
        <a href='@Url.Action("Index", "Home")' class="logo">
            Factory
        </a>

        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-right">
                <ul class="nav navbar-nav">

                    <li class="dropdown user user-menu">
                        <a href='#' class="dropdown-toggle" data-toggle="dropdown">
                            <span>Имя Фамилия<i class="caret"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header bg-light-blue">
                                <p>Имя Фамилия</p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="@Url.Action("MyProfile", "Account")" class="btn btn-default btn-flat">Профиль</a>
                                </div>
                                <div class="pull-right">
                                    <a href='@Url.Action("Logout", "Account")' class="btn btn-default btn-flat">Выйти</a>
                                </div>
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>
        </nav>

    </header>
    
    <div class="wrapper">
        
        <aside class="main-sidebar">
            <section class="sidebar">
                @Html.Partial("_LeftMenu")
            </section>

        </aside>
        
        <aside class="right-side">
            @RenderBody()
        </aside>
            
    </div>
         
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(document).ready(function () {
            @RenderSection("Scripts", required: false)
        });
    </script>
</body>



</html>
