@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Factory</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Theme/base/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="skin-green fixed">

    <!-- Site wrapper -->
    <div class="wrapper">

        @Html.Partial("_MainHeaderPartial")

        <!-- Left side column. contains the sidebar -->
        <div class="main-sidebar">
            <div class="sidebar">
                @Html.Partial("_LeftMenu")
            </div>
        </div>

        <section class="content-header">
            @RenderSection("ContentHeader", required: false)
        </section>
        <div class="content-wrapper">
            <section class="content">
                @RenderBody()
            </section>
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Версия</b> 1.0
            </div>
            <strong>&copy; @DateTime.Now.Year <a href="http://www.ipositron.ru">Позитрон</a>.</strong> All rights reserved.
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/appjs")
    @Scripts.Render("~/bundles/vendors")
    @RenderSection("Scripts", required: false)
    @*<script>
            $(document).ready(function () {
                @RenderSection("Scripts", required: false)
            });
        </script>*@
</body>

</html>
