@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Factory</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="skin-green fixed">
    
    <!-- Site wrapper -->
    <div class="wrapper">
        
        @Html.Partial("_MainHeaderPartial")
        
        <!-- Left side column. contains the sidebar -->
        <div class="main-sidebar">
            <section class="sidebar">
                @Html.Partial("_LeftMenu")
            </section>

        </div>
        
        <section class="content-header">
            @RenderSection("ContentHeader", required: false)
        </section>

        <div class="content-wrapper">
            <section class="content">
                @RenderBody()
            </section>
        </div>
        
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Версия</b> 1.0
            </div>
            <strong>Copyright © 2015 <a href="http://www.ipositron.ru">Позитрон</a>.</strong> All rights reserved.
        </footer>
    </div>
         
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    
    <script>
        $(document).ready(function () {
            @RenderSection("Scripts", required: false)
        });
    </script>
</body>



</html>
