@model IEnumerable<Factory.StoreWeb.ViewModels.ShopperViewModel>
           
@{
    ViewBag.Title = "Покупатели";
}
@Styles.Render("~/Content/Vendors")

@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Покупатели</h3>
                <div class="box-tools">
                    <div class="input-group">
                        <a class="btn btn-success btn-sm" href='@Url.Action("Create", "Shopper")'><i class="fa  fa-plus"></i></a>
                        <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search" />
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    
                </div>    
            </div>
            
            <div class="box-body table-responsive">
                <div class="dataTables_wrapper form-inline">
                    <table class="table" id="dataTables-example">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ShopperName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ContactName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ContactTitle)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.City)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Region)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PostalCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Country)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Phone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Fax)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsActive)
                            </th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShopperName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ContactName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ContactTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.City)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Region)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PostalCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Country)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fax)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsActive)
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href='@Url.Action("Edit", "Shopper", new { id = item.ShopperId })'><i class="fa  fa-pencil"></i></a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/vendors")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>
}